#btn-vendas-localizar-cliente:hover{
    background-color: #2610f2;
    color: white;
}
#btn-vendas-localizar-pedido:hover{
    background-color: #2610f2;
    color: white;
}
#btn-vendas-localizar-produto:hover{
    background-color: #2610f2;
    color: white;
}
#btn-vendas-inserir-produto:hover{
    background-color: #2610f2;
    color: white;
}
#btn-vendas-localizar-venda:hover{

    background-color: #f2d600;
    color: white;
}
